@import './utils';
section {
    &.hero {
        .container-sm {
            overflow-x: hidden;
        }
        h1 {
            font-size: clamp(1.5rem, 15vw, 5.5rem);
            span {
                color: $blue;
            }
        }
        p{
            font-size: clamp(.5rem, 15vw, 2rem);
        }
        a{
            background-color: $blue;
            color: $white !important;
            font-size: clamp(.5rem, 15vw, 1.2rem);
            &:hover{
                background-color: $orange;
                color: $white;
            }
        }
    }
    &.trending{
        .title{
            h3{
                color: $black !important;
            }
        }
        .row>*{
            padding: 0 !important;
        }
        .post{
            width: 18rem;
            background-color: $white;
            // border-top: 2px solid $orange;
            margin: 1rem;
            .card{
                width: 100% !important;
                gap: 1rem;
                border: none;
                &:hover img{
                    transform: scale(1.1);
                }
            }
            .img-container{
                width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all 300ms;
                }
            }
            
        }
    }
    &.interest{
        .badge{
            background-color: $blue;
            transform: all 300ms;
            a{
                color: $white !important;
            }
            &:hover{
                background-color: $orange !important;
            }
        }
    }
}

.modal-body{
    #signup, #login{
        font-weight: bold;
        color: $blue;
        transition: all 300ms;
        cursor: pointer;
        &:hover{
            color: $orange;
        }
    }
}
